@layer base, layout, utilities;

@layer base {
  .form-container {
    width: 100vw;
    padding: 5lvmin;

    .row {
      margin-top: 3dvmin;
    }

    .col-md-8 {
      padding: 4cqmin;
    }

    .form-check {
      margin-bottom: 2svmin;
    }
  }
}

@layer components {
  .btn-primary {
    padding: 1.5lvmin 2lvmin;
    font-size: 3lvmin;
  }
}

@layer utilities {
  .d-grid {
    container-type: inline-size;

    @container(max-width: 300px) {
      .btn-primary {
        font-size: 4lvmin;
      }
    }
  }
}
