* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $background;
  justify-content: space-between;
}

main {
  display: flex; 
  justify-content: center;
  text-align: center;
  background-color: #fff;
}

header {
  background-color:  $background;

  .nav-link {
    color: $main
  }

  .nav-link:hover {
    color: $highlight;
  }
  
}

header.alt-color {
  background-color: white;
  border-bottom: 2px solid $background;
}


footer {
  background-color: white;
  font-size: 0.75rem;
  text-align: center;

  hr {
    margin-top: 0;
  }

  .nav-link, .social-icon {
    color: $main;
  }

  .nav-link:hover, .social-icon:hover{
    color: $highlight;
  }
  
}

.home-container{
  background-color: $background;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3em;
 
  .img {
    object-fit: cover;
    filter: hue-rotate(140deg);
  }

  .poster{
    width: 90vw;

    margin: auto;
    margin-top: 0;

    color: $main;
    align-items: center;

    h1 {
      font-family: $font-title;
      font-size: 2em;
      margin-bottom: 0;
      padding: 0.5em;
    }

    h2{
      font-family: $font-title;
      text-transform: uppercase;
      font-size: 1.5em;
      font-weight: bold;
    }
    
    .year {
      margin: auto;
    }
  
    .speakers {
      line-height: 1.3;
      margin-bottom: 1em;
    }
    
    .date {
      text-transform: uppercase;
      line-height: 1.5;
      font-weight: bold;
      font-size: 1em;
    }
  }
 
}

@supports (display:grid) {
  @media (min-width: 700px){
    .home-container{
      position: relative;

      .img {
        position: absolute;
        top: 45%;
        left: 50%;
        width: 70%;
        height: 90%;
        z-index: 1;
        transform: translate(-50%, -50%);
        opacity: 0.4;
        object-fit: cover;
      }

      .poster {
        display: grid;
        grid-template-columns: 6em fit-content(18em) 1fr minmax(10em, 28em) 5em;
        grid-template-rows: 3fr 0.5fr 2fr 2fr;
        
        z-index: 50;
        width: 70%;
      }

      h1{
        grid-column: 4 / -1;
        grid-row: 1 / 2;

        font-size: 4em;
      }

      h2 {
        font-size: 3.5em;
      }

      .edition {
        grid-column: 1 / 2;
        grid-row: 1 / -1;

        display: flex;
        align-items: center;

        h2 {
          width: fit-content;
          height: fit-content;
          transform-origin: left center;
          transform: rotate(-90deg) translateX(-50%);
          margin-left: 1em;
          white-space: nowrap;
        }
      }

      .year {
        grid-column: 5 / 6;
        grid-row: 3 / -1;
      }

      .speakers {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
      }

      .date {
        grid-column: 2 / -2;
        grid-row: 4 / 5;

        font-size: 1.2em;
      }
    }
  }
}
