<div class="home-container">
  <img class="img" src="../assets/images/poster.jpg">
  <div class="poster">
    <h1>JORNADAS <br> SEGURIDAD <br> INFORMÁTICA</h1>
    <div class="edition">
      <h2>IV EDICIÓN</h2>
    </div>
    <p class="speakers">
      Nombres de posibles participantes, speaker 1, 
      speaker 2, speaker 3, speaker 4, speaker 5,
    </p>
    <div class="date">
      <p class="when">10 DE ENERO | 09:00 - 18:00 </p>
      <p class="location">Sala de conferencias de la Universitat Oberta de Catalunya</p>
    </div>
    <h2 class="year">
      20 <br> 25
    </h2>
  </div>
</div>

