<div class="home-container">
  <div class="poster">
    <img class="img" src="../assets/images/poster.jpg">
    <h1>JORNADAS <br> SEGURIDAD <br> INFORMÁTICA</h1>
    <div class="edition">
      <h2>IV EDICIÓN</h2>
    </div>
    <p class="speakers">
      Ponentes: Dr. Laura Sánchez, Ing. Rafael Gómez, Silvia Martínez, Dr. Karim Al-Rahim, Ana Beltrán y Carlos Torres.
    </p>
    <div class="date">
      <p class="when">10 y 11 DE ENERO | 09:00 - 18:00 </p>
      <p class="location">Sala de conferencias de la Universitat Oberta de Catalunya</p>
    </div>
    <h2 class="year">
      20 <br> 25
    </h2>
  </div>
</div>

